@model Entity.Bookmark

@{
    ViewBag.Title = "Details";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="mt-3">
                    @Html.ActionLink(" Back to List", "Index", null, new { @class = "btn btn-outline-primary d-flex align-items-center" })
                </div>
                <h2 class="card-title">Details</h2>
                <dl class="row mb-4">
                    <dt class="col-sm-3">URL</dt>
                    <dd class="col-sm-9">
                        <a href="@Model.URL" target="_blank" class="text-info">@Model.URL</a>
                    </dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ShortDescription)
                    </dd>

                    <dt class="col-sm-3">Category</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>

                    <dt class="col-sm-3">Created On</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
}